{% extends 'base.html' %}

{% block body %}
	<div class="centered-container">
		<h4 class="mdc-typography--headline3 landing-title">
			A szavazás lezárult
		</h4>
		<div class="pl-buttons">
			<a href="{% url 'results' %}" class="mdc-button mdc-button--raised ripple">
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">Eredmények</span>
			</a>
		</div>
		{% if user.is_staff %}
			<div class="pl-buttons">
				<a href="{% url 'admin:index' %}" class="mdc-button mdc-button--outlined ripple">
					<span class="mdc-button__ripple"></span>
					<span class="mdc-button__label">Admin panel</span>
				</a>
			</div>
		{% endif %}
	</div>
{% endblock body %}