{% extends 'base.html' %}

{% block body %}
	<div class="centered-container">
		<h4 class="mdc-typography--headline3 landing-title">
			Sikeres bejelentkezés
		</h4>
		<h5 class="mdc-typography--headline4 pl-name">
			{{user.display_name}}
		</h5>
		<p class='pl-email'>
			{{user.email}}
		</p>
		{% if not user.can_vote %}
			<p class="mdc-typography--body2">
				Ezzel az email címmel nincs jogod szavazni. <br>
				Ellenőrizd, hogy a megfelelő email címet adtad meg! <br>
				<i class="mdc-typography--caption">
					[vezetéknév].[keresztnév][születési év]@tanulo.boronkay.hu<br>
					[vezetéknév].[keresztnév]@boronkay.hu
				</i>
			</p>
		{% elif user.has_voted %}
			<h6 class="mdc-typography--headline6 info-headline">Már szavaztál!</h6>
			<p class="mdc-typography--body2">
				Egy email címről csak egyszer szavazhatsz, és ezt később nem módosíthatod. <br>
				Az eredmény a szavazás lezárása után lesz elérhető.
			</p>
		{% else %}
			<h6 class="mdc-typography--headline6 info-headline">Néhány tudnivaló:</h6>
			<p class="mdc-typography--body2">
				Csak egyszer szavazhatsz, és később <b>nem</b> tudod megváltoztatni, szóval válassz megfontoltan! <br>
				Az eredmény a szavazás lezárása után lesz elérhető.
			</p>
		{% endif %}
		<div class="pl-buttons">
			<a href="{% url 'logout' %}" class="mdc-button mdc-button--outlined ripple">
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">Kijelentkezés</span>
			</a>
			{% if user.can_vote and not user.has_voted %}
				<a href="{% url 'vote' %}" class="mdc-button mdc-button--raised ripple">
					<span class="mdc-button__ripple"></span>
					<span class="mdc-button__label">szavazás</span>
				</a>
			{% endif %}
		</div>
		{% if user.is_staff %}
			<div class="pl-buttons">
				<a href="{% url 'admin:index' %}" class="mdc-button mdc-button--text ripple">
					<span class="mdc-button__ripple"></span>
					<span class="mdc-button__label">Admin panel</span>
				</a>
			</div>
		{% endif %}
	</div>
{% endblock body %}