{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>	

	<title>Kádi Választás</title>
</head>
<body class="mdc-typography">
	{% block body %}
	
	{% endblock body %}

	<p id="watermark" class="mdc-typography--caption">Made by 11 P <br> <a href="{%url 'howitworks'%}#contact">Elérhetőség</a></p>

	<script src="{% static 'main.js' %}"></script>
</body>
</html>